.notificationContainer
{
    background-color:#4e657a;
    box-shadow: 1px 1px 5px 0 #455c71;
    padding-left:12px;
    margin-bottom:18px;
    display: flex;
    flex-direction: row;
    width:90%;
    margin-left:auto;
    margin-right: auto;
}
.imageContainer
{
    widows: 40%;
}
.message
{
    font-size: 17px;
    text-align: justify;
}
.time
{
    text-align: left;
    color:#bdcbd8;
}
.notiImage
{
    width:84px;
    height:84px;
    border-radius: 50%;
    margin-top:10px;
}
.notificationListContainer
{
    overflow-y: scroll;
    height:240px;
}
@media(max-width:720px)
{
    .message
    {
        font-size: 12px;
    }
}