.dashContainer
{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    box-sizing: border-box;
}
/* ---------------------------------------- */
.dashHeading
{
    margin:0 200px;
}
.dashTitle
{
    color:#fff;
    padding:50px 0px;
    margin:0;
    font-size: 16px;
    text-align: left!important;
}
/* --------------------------------------------- */
.dashContent
{
    
    width:100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}
.content
{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contentBlock
{
    width:47%;
    background-color:#435c70;
    box-shadow: 1px 1px 5px 0 #455c71;
    box-sizing: border-box;
    height:max-content;
    padding:18px;
    margin-bottom:32px;
}
.title
{
    color:#fff;
    font-size: 18px;
}
.orderContent
{
    width: 100%;
    background-color:#435c70;
    box-shadow: 1px 1px 5px 0 #455c71;
    box-sizing: border-box;
    height:480px;
    overflow-y: scroll;
    padding:18px;
    margin-bottom:32px;
}
@media (max-width:720px)
{
    .dashHeading
    {
        text-align:left;
        padding-left:0;
        margin:0px;
    }
    .content
    {
        flex-direction: column;
    }
    .contentBlock
    {
        width:100%;
    }
    .dashContainer
    {
        width:90%;
    }
}